body {
  background-color: #756e6e;
  gap: 6.25rem; /* 100px -> 6.25rem */
}

.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 100%;
  max-width: 67.5rem; /* 1080px -> 67.5rem */
  margin: 0 auto;
  
  &__main-item {
    position: relative;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .main-item__image {
      width: 100%;
      background-color: #c50a0a;
      height: 30.9375rem; /* 495px -> 30.9375rem */
      overflow: hidden;
      border-radius: 1.25rem; /* 20px -> 1.25rem */

      &__img {
        width: 100%;
        height: 100%;
        background-color: #fff;
        object-fit: cover;
        border-radius: 1.25rem; /* 20px -> 1.25rem */
        transition: opacity 0.5s ease-in-out;
      }
    }

    .main-item__information {
      position: absolute;
      bottom: 1.25rem; /* 20px -> 1.25rem */
      left: 1.25rem; /* 20px -> 1.25rem */
      color: #fff;

      .main-item__title {
        font-size: 2rem; /* 32px -> 2rem */
        font-weight: bold;
      }
      
      .main-item__description {
        font-size: 1.125rem; /* 18px -> 1.125rem */
      }
    }

    .main-item__actions {
      gap: 1.25rem 0; /* 20px -> 1.25rem */

      .main-item__button {
        padding: 0.625rem 1.25rem; /* 10px 20px -> 0.625rem 1.25rem */
        margin-right: 0.625rem; /* 10px -> 0.625rem */
        border-radius: 0.3125rem; /* 5px -> 0.3125rem */
        font-size: 1rem; /* 16px -> 1rem */
        cursor: pointer;
        transition: background-color 0.3s;
      
        &--primary {
          background-color: #fff;
          color: #000;
          &:hover {
            background-color: #ddd;
          }
        }
      
        &--secondary {
          background-color: transparent;
          color: #fff;
          border: 0.0625rem solid #fff; /* 1px -> 0.0625rem */
          &:hover {
            background-color: #555;
          }
        }
      }
    }
  }

  .carousel__side-section {
    flex: 1;
    margin-left: 1.25rem; /* 20px -> 1.25rem */

    .carousel__side-item {
      background-color: #756e6e;
      padding: 0.625rem; /* 10px -> 0.625rem */
      border-radius: 0.625rem; /* 10px -> 0.625rem */
      margin-bottom: 0.625rem; /* 10px -> 0.625rem */
      height: 5rem; /* 80px -> 5rem */
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: background-color 0.3s;
      position: relative; /* Це важливо для коректного відображення прогрес-бару */
    
      &:hover {
        background-color: #444;
      }
    
      &.active {
        background-color: #333;
      }

      .side-item__img {
        width: 3.75rem; /* 60px -> 3.75rem */
        height: 3.75rem; /* 60px -> 3.75rem */
        border-radius: 0.625rem; /* 10px -> 0.625rem */
        object-fit: cover;
        margin-right: 0.625rem; /* 10px -> 0.625rem */
        z-index: 1;
        position: relative;
      }

      .side-item__info {
        color: #fff;
      }

      .side-item__title {
        font-size: 1.125rem; /* 18px -> 1.125rem */
        z-index: 1; /* Забезпечує, щоб заголовок був вище прогрес-бару */
        position: relative; /* Це дозволяє правильно відображати z-index */
      }

      .side-item__progress-bar {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: rgba(150, 34, 34, 0.6);
        border-radius: 0.625rem; /* 10px -> 0.625rem */
        z-index: 0; /* Прогрес-бар буде під заголовком */
      }
    }
  }
}
